<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hx.jrperson">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />


    <!-- baidumap -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- &lt;!&ndash; 这个权限用于访问GPS定位&ndash;&gt; -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>


    <!-- 极光推送  Required 自定义用来收发消息的相关权限 -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required 一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ADD_SYSTEM_SERVICE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:name=".JrApplication"
        android:allowBackup="true"
        android:icon="@mipmap/iconlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 闪屏页面 -->
        <activity
            android:name=".ui.activity.SplachActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--广告页界面-->
        <activity android:name=".aboutnewprogram.NewsActivity"/>
        <!-- 主页面 -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 程序的基类activity -->
        <activity
            android:name=".views.baseView.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 忘记密码界面 -->
        <activity
            android:name=".ui.activity.ForgetPwdActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 忘记密码界面的新密码界面 -->
        <activity
            android:name=".ui.activity.NewPwdActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 我的的订单界面 -->
        <activity
            android:name=".ui.activity.MyOrdorActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 关于我们界面 -->
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 设置界面 -->
        <activity
            android:name=".ui.activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 账户与安全界面 -->
        <activity
            android:name=".ui.activity.AccountSafeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 个人信息界面 -->
        <activity
            android:name=".ui.activity.PersonalSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 价格协商 -->
        <activity
            android:name=".ui.activity.NegotiatePriceActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!-- 登录界面 -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 用户取消界面 -->
        <activity
            android:name=".ui.activity.CancleBecauseActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 没有开启定位权限跳转得界面 -->
        <activity
            android:name=".ui.activity.NotOpeaLocationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!--&lt;!&ndash; 选择支付方式界面 &ndash;&gt;-->
        <!--<activity-->
            <!--android:name=".ui.activity.PayActivity"-->
            <!--android:theme="@style/AppTheme.NoActionBar">-->

        <!--</activity>-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">

        </activity>


        <!--微信支付-->

        <receiver android:name="com.hx.jrperson.utils.wx.AppRegister">

            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="appid" />
            </intent-filter>
        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--微信支付-->
        <activity
            android:name=".ui.activity.PayActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <!-- 支付成功界面 -->
        <activity
            android:name=".ui.activity.PaySuccessActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 信息详情界面 -->
        <activity
            android:name=".ui.activity.InforGutActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 注册账号界面 -->
        <activity
            android:name=".ui.activity.GoRegisterNowActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 维修项目具体列表界面 -->
        <activity
            android:name=".ui.activity.ServiceGutActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 发布订单详细选项界面 -->
        <activity
            android:name=".ui.activity.IssueOrdorGutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!-- 填写地址界面 -->
        <!-- android:configchanges="keyboadrHidden|orientation|screenSize" -->
        <activity
            android:name=".ui.activity.InputAddressActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 意见反馈界面 -->
        <activity
            android:name=".ui.activity.IdaerBackActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 分享页面 -->
        <activity
            android:name=".ui.activity.ShareActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 选择地址省详细页面 -->
        <activity
            android:name=".ui.activity.ChangeProvinceActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 选择城市详细页面 -->
        <activity
            android:name=".ui.activity.ChangeCityActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 选择区详细界面 -->
        <activity
            android:name=".ui.activity.ChangeAlearActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 维修标准 -->
        <activity
            android:name=".ui.activity.StandardActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!-- 修改昵称和签名 -->
        <activity
            android:name=".ui.activity.AlterNameAndSignActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <!-- 服务流程 -->
        <activity
            android:name=".ui.activity.ServiceProcessActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <!--法律说明-->
        <activity
            android:name=".ui.activity.LegalExplanationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <!--投诉页面-->
        <activity
            android:name=".ui.activity.ComPlainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <!-- 信息展示详情页面 -->
        <activity
            android:name=".ui.activity.ShowInforActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!--跳转寻找匠人位置页面-->
        <activity android:name=".ui.activity.OtherTest"/>

        <!-- 百度定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <service android:name=".service.WorkerLocationService">
            <intent-filter>
                　　<action android:name="com.hx.jrperson.service.WorkerLocationService" />
                　　<category android:name="android.intent.category.default" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="DGvyRRNXwRK4wzukBCrBxdotPhi617WI" />

        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!--<receiver android:name=".ui.activity.MainActivity$LocationReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.hx.jrperson.service.WorkerLocationService"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!-- Required SDK 核心功能 -->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK 核心功能 since 1.8.0 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required 显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- Required . 极光APPKEY -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="1273501ae719273956a5ff00" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->

        <!-- </>值来自开发者平台取得的AppKey -->

        <meta-data android:value="573acd0367e58e3aa20025e9" android:name="UMENG_APPKEY" />
        <meta-data android:value="normal" android:name="UMENG_CHANNEL"/>
        <!--生成二维码页面-->
        <activity android:name=".aboutnewprogram.CodeActivity"/>
        <!--优惠卡查询页面-->
        <activity android:name=".aboutnewprogram.preferential.MyPostCardActivity"/>
        <!--已过期的优惠券-->
        <activity android:name=".aboutnewprogram.preferential.OverDataActivity"/>
        <!--钱包页面-->
        <activity android:name=".aboutnewprogram.mywollet.MyWollet" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <!--过期的折扣卡查询-->
        <activity android:name=".aboutnewprogram.preferential.OverDataValueCardActivity"/>
        <!--余额记录查询-->
        <activity android:name=".aboutnewprogram.mywollet.RecordActivity"/>
        <!--订单详情查询页面-->
        <activity android:name=".aboutnewprogram.thirdversion.order.OrderContent"/>
    </application>

</manifest>
